.setting-profiles
  %section.setting-profile
    %h2.setting-profile__title プロフィール
    %form
      .setting-profile__top
        %figure.setting-profile__top__avatar
          %img{:src => ""}
        %input.setting-profile__top__nickname
      .setting-profile__bottom
        %textarea.setting-profile__bottom__text
        %button.setting-profile__bottom__btn 変更する
