%nav.progress-bar
  %ol
    %li#progress-auth.progress-auth
      会員情報
      .progress-status
    %li#progress-address.progress-address
      お届け先住所入力
      .progress-status
    %li#progress-credit.progress-credit
      支払い方法
      .progress-status
    %li#progress-end.progress-end
      完了
      .progress-status