// font-color
$black: #333333;
$blue: #0099F8;
$gray: #B9b9b9;
// フッターの見出し文字 カード・ヘッダー背景色
$white: #FFFFFF;
// background-color
$main_background: #F5F5F5;
$red: #EA352D;
//選べない時のグレー
$deepgray: #aaaaaa;
// ヘッダーアイコンのカラー
$lightgray: #cccccc;
// フッターの黒
$footerblack: #212121;
//cssでホバーした時の色
$cssgray: #f2f2f2;
