%p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  -# if "sale_statusが１の時は以下を表示"
  =form_with(url: "https://kari",class: "message-content__form" ) do |f|
    = f.text_area :content
    = f.button ("コメントする")
    -# elseの時は以下を表示させ、コメントできないようにする。
    -# %textarea{disabled: "disabled", name: "content"}
    -# %button{disabled: "disabled"}売り切れの為コメントできません
  .message-content__submit-btn
