.mypage-side_bar
  %nav.mypage-nav
    %ul.nav-list
      %li
        =link_to user_path(:user_id), class: "nav-list__item active" do
          マイページ
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          お知らせ
          %i.fas.fa-chevron-right.arrow-hover.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          やることリスト
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          いいね！一覧
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to new_user_item_path(:user_id), class: "nav-list__item" do
          出品する
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          出品した商品 - 出品中
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          出品した商品 - 取引中
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          出品した商品 - 売却済み
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          購入した商品 - 取引中
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          購入した商品 - 過去の取引
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          ニュース一覧
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          評価一覧
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          ガイド
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          お問い合わせ
          %i.fas.fa-chevron-right.arrow-hover
    %h3.nav-list__head メルペイ
    %ul.nav-list
      %li
        =link_to "https://kari", class: "nav-list__item" do
          売上・振込申請
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          ポイント
          %i.fas.fa-chevron-right.arrow-hover
    %h3.nav-list__head 設定
    %ul.nav-list
      %li
        =link_to new_user_profiles_path(:user_id), class: "nav-list__item" do
          プロフィール
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to user_credits_path(:user_id), class: "nav-list__item" do
          支払い方法
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          メール/パスワード
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to edit_user_user_addresses_path(:user_id), class: "nav-list__item" do
          本人情報
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to "https://kari", class: "nav-list__item" do
          電話番号の確認
          %i.fas.fa-chevron-right.arrow-hover
      %li
        =link_to user_logouts_path(:user_id), class: "nav-list__item" do
          ログアウト
          %i.fas.fa-chevron-right.arrow-hover
