= content_for :header_content do
  = render 'share/progress-bar'
.devise-content
  .signup-address
    .auth-info
      %h2.auth-title 発送元・お届け先住所登録
      = form_with model: [@user, @delivery_address], local: true, class: "auth-form" do |f|
        =render partial: 'form', locals: { user: @user, field: f }
