%main.main
  %section.purchase-cfm
    %h2.purchase-cfm__title 購入内容の確認
    %section.cfm-section
      .cfm-section__product
        %h3
          =image_tag ''
        %p.detail コーチ ショルダーバッグ ウォレット ほぼ未使用！！
        =form_with  class: "cfm-form" do |f|
          %p.cfm-form__top 
            ¥ 8,000
            %span 送料込み
          %ul.cfm-form__point
            %li
              .point-btn ポイントはありません
          %ul.cfm-form__amount
            %li
              .left-block 支払い金額
              .right-block
                %span ¥ 8,000
          -# 住所と支払い方法が入っていない場合
          %p.error-massage エラーメッセージ
          =f.submit "購入する", class: "cfm-form__btn"
    %section.userinfo-section
      .userinfo-section__box
        %h3 配送先
        %p
        =link_to "" do
          %span 変更する
          %i.fas.fa-chevron-right
    %section.userinfo-section
      .userinfo-section__box
        %h3 支払い方法
        %p
        =link_to "" do
          %span 変更する
          %i.fas.fa-chevron-right
