- breadcrumb :credits
= render partial: 'layouts/breadcrumbs'

%main.mypage-main
  .credit-main
    %section.credit-content
      %h2.bold.credit-content__head 支払い方法
      .credit-content__menu
        %section
          .single-content
            %h3.sub-head クレジットカード一覧
          %ul.credit-list
        %section.settings-add-card
          .single-content
            =link_to new_user_credits_path(user_id: current_user.id), class: "btn-default submit-button" do
              %i.far.fa-credit-card
              クレジットカードを追加する
        .credit--not-regist
          =link_to root_path do
            %span 支払方法について
            %i.fas.fa-chevron-right
  =render partial: "users/mypage_side_bar", locals: { user: @user}
