.signup-address{
  width: 700px;
  @include centering;
  padding: 0 0 220px 0;
}

.edit-address{
  width: 700px;
  float: right;
}

.auth-info{
  width: 100%;
  background-color: $white;

  .auth-title{
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    text-align: center;
    border-bottom: 1px solid $main_background;
    line-height: 1.4;
  }

  .auth-form{
    padding: 64px;

    .form-remarks{

      p{
        line-height: 1.5;
        font-size: 14px;
      }

      &__link{
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 14px;
        float: right;

        a:hover{
          opacity: 0.7;
          cursor: pointer;
          text-decoration: underline;
        }
      }

    }

    .form-contents{
      margin: 40px 0 0;

      &__label{
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }

      p{
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 14px;
      }

      span{
        @include required($color: $lightgray);
      }

      input{
        @include input-default;
        margin: 8px 0 0;
      }
      .select-section{
        @include select-section;
      }
    }
    .form-submit{
      margin: 40px 0 0;
      @include btn-default;
    }

    .form-remarks__link{
      margin: 8px 0 0;
      line-height: 1.5;
      font-size: 14px;
      float: right;

      a:hover{
        opacity: 0.7;
        cursor: pointer;
        text-decoration: underline;
      }
    }

  }
}

