.breadcrumb-navi {
  width: 100%;
  height: 49px;
  background: $white;
  border-top: 1px solid $mypage-gray;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__list {
    @include centering;
    width: 1020px;
    padding: 16px 0;
    .list-item {
      display: inline;
      a {
        color: $black;
      }
      .fas {
        margin: 0 9px;
        font-size: 9px;
        color: $mypage-icon;
      }
      .current {
        font-weight: 600;
      }
    }
  }
}
