.mypage-main{
  @include centering;
  width: 860px;

  .logout-content{
    width: 700px;
    float: right;
    padding: 64px;
    background-color: $white;

    &__form{
      margin: 0;

      &--btn{
        @include btn-default;
        max-width: 320px;
        margin:0 auto;
      }
    }
  }
}