.progress-bar{
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;

  ol{
    margin: 0;

    li{
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 60px;
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;

      .progress-start{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: $red;
        border-radius: 50%;

        &:after{
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
      }
      .progress-status{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;

        &:before{
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        }
        &:after{
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
      }
    }

    .bar-end{
      margin: 0;
    
      .progress-end{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: $lightgray;
        border-radius: 50%;

        &:before{
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
    }
  }
}

