.top-sell-btn {
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  border-radius: 50%;
  background: $red;
  color: $white;
  text-align: center;
  div {
    margin-top: 32px;
  }
  .fas {
    font-size: 54px;
  }
}
