.devise-header{
  height: 128px;
  margin: 0;
  text-align: center;

  h1{
    margin: 40px 0 0;
    display: inline-block;

    a{
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;

      img{
        width: 185px;
        height: 49px;
      }
    }
  }
}

.devise-footer{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;

  &__nav{
    text-align: center;

    ul{
      font-size: 0;
      padding: 0;

      li{
        display: inline-block; font-size: 12px;

        a{
          color: #333;
          cursor: pointer;
          display: block;
        }
      }
    }
  }

  &__logo{
    display: block;
    width: 80px;
    height: 65px;
    margin: 40px auto 0;

    &__image{
      width: 80;
      height: 65px;
    }
  }

  &__copyright{
    margin: 8px 0 0;
    text-align: center;

    small{
      font-size: 13px;
    }
  }
}