%body
  = render partial: "devise/shared/links_header"
  .main
    .login-content
      .login-content__sign-up
        %p.login-content__sign-up--remarks アカウントをお持ちでない方はこちら
        =link_to root_path, class: "login-content__sign-up--btn" do
          新規会員登録
      .login-content__api
        =link_to root_path, class: "login-content__api--facebook" do
          %i.fab.fa-facebook-square
          %span Facebookでログイン
        =link_to root_path, class: "login-content__api--google" do
          Googleでログイン
      =form_with url: root_path do |f|
        .login-content__form
          =f.text_field :email, class: "login-content__form--text-field", placeholder: "メールアドレス"
          =f.text_field :password, class: "login-content__form--text-field", placeholder: "パスワード"
          .login-content__form--recaptcha
          //apiで実装
          =f.submit "ログイン", class: "btn"
          =link_to root_path, class: "login-content__form--remarks" do
            パスワードお忘れの方
  = render partial: "devise/shared/links_footer"
