=form_with model: item, local: true do |f|
  .sell-content
    %h3.sell-content__upload-head
      出品画像
      %span.required
        必須
    %p.sell-content__explanation
      最大10枚までアップロードできます
    .sell-content__upload-box
      .sell-content__upload-box--input
        =f.fields_for :item_images do |image|
          =image.file_field :photo, class: "sell-content__upload-box--form"
      .sell-content__upload-box--preview
        %ul
      -# 文字の書いてあるところをクリックすると画像のアップロードができます。
      .sell-content__upload-box--click
        %p
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
    .sell-content__upload-box2
      -# {dropzone: "move f:image", ondrop: "receive(event, this)"}
      .sell-content__upload-box2--preview2
        %ul
      -# 文字の書いてあるところをクリックすると画像のアップロードができます。
      .sell-content__upload-box2--click2
        %p
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
    -#  ToDo バリデーションのエラーメッセージを表示する 
  .sell-content
    .sell-content__form-group
      %label
        商品名
        %span.required
          必須
      =f.text_field :name, class: "sell-content__form-group--input", placeholder: "商品名（必須40文字まで）"
      -#  ToDo バリデーションのエラーメッセージを表示する 
    .sell-content__form-group
      %label
        商品の説明
        %span.required
          必須
      =f.text_area :description, class: "sell-content__form-group--textarea", rows: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
  .sell-content.clearfix
    =f.fields_for :item_detail do |detail|
      %h1.left-section
        商品の詳細
      .right-section
        %ul
          -# todo
          -# %li.form-group
          -#   %label
          -#     カテゴリー
          -#     %span.required
          -#       必須
          -#   .select-section
          -#     %select.form-select
          -#       %option{value: ""}---
          -#       %option{value: "1"}レディース
          -#       %option{value: "2"}メンズ
          -#       %option{value: "3"}ベビー・キッズ
          -#       %option{value: "4"}インテリア・住まい・小物
          -#       %option{value: "5"}本・音楽・ゲーム
          -#       %option{value: "6"}おもちゃ・ホビー・グッズ
          -#       %option{value: "7"}コスメ・香水・美容
          -#       %option{value: "8"}家電・スマホ・カメラ
          -#       %option{value: "9"}スポーツ・レジャー
          -#       %option{value: "10"}ハンドメイド
          -#       %option{value: "11"}チケット
          -#       %option{value: "12"}自転車・オートバイ
          -#       %option{value: "13"}その他
          -#     %i.fas.fa-chevron-down
            -# ToDo バリデーションのエラーメッセージを表示する 
          %li.form-group
            %label
              商品の状態
              %span.required
                必須
            .select-section
              =detail.collection_select :condition_id, Condition.all, :id, :name, {prompt: "---"}, {class: "form-select"}
              %i.fas.fa-chevron-down
            -#  ToDo バリデーションのエラーメッセージを表示する 
  .sell-content.clearfix
    =f.fields_for :shipping_origin do |deli|
      %h1.left-section
        配送について
        =link_to "?", "https://kari", class: "left-section__question"
      .right-section
        %ul
          %li.form-group
            %label
              配送料の負担
              %span.required
                必須
            .select-section
              =deli.collection_select :burden_id, Burden.all, :id, :name, {prompt: "---"}, {class: "form-select"}
              %i.fas.fa-chevron-down
            -#  ToDo バリデーションのエラーメッセージを表示する 
          %li.form-group
            %label
              配送元の地域
              %span.required
                必須
            .select-section
              =deli.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: "form-select"}
              %i.fas.fa-chevron-down
            -#  ToDo バリデーションのエラーメッセージを表示する 
          %li.form-group
            %label
              配送までの日数
              %span.required
                必須
            .select-section
              =deli.collection_select :delivery_date_id, DeliveryDate.all, :id, :name, {prompt: "---"}, {class: "form-select"}
              %i.fas.fa-chevron-down
            -#  ToDo バリデーションのエラーメッセージを表示する 
  .sell-content.clearfix
    %h1.left-section
      販売価格(300〜9,999,999)
      =link_to "?", "https://kari", class: "left-section__question"
    .right-section
      %ul
        %li.price-form
          .price-form__left-section
            .price-form__left-section--label
              %label
                価格
                %span.required
                  必須
          .price-form__right-section
            ¥
            =f.text_field :price, class: "input-form", placeholder: "例)300"
        -#  ToDo バリデーションのエラーメッセージを表示する 
        %li.price-form
          %p.price-form__left-side 販売手数料(10%)
          %p.price-form__right-side -
        %li.price-form
          %p.price-form__left-side.bold 販売利益
          %p.price-form__right-side.bold -
  .sell-content.clearfix
    .caution
      %p
        =link_to "禁止されている出品", "https://kari"
        、
        =link_to "行為", "https://kari"
        を必ずご確認ください。
      %p
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        =link_to "偽ブランドの販売", "https://kari"
        は犯罪であり処罰される可能性があります。
      %p
        また、出品をもちまして
        =link_to "加盟店規約", "https://kari"
        に同意したことになります。
    =f.hidden_field :sale_status, value: 0
    =f.hidden_field :buy_status, value: 0
    =f.hidden_field :user_id, value: 1
    - if request.path_info == new_item_path
      =f.submit "出品する", class: "btn new-btn"
      .gray-btn
        =link_to "もどる", :back
    - else
      =f.submit "変更する", class: "btn"
      .gray-btn
        =link_to "もどる", :back
