%section.top-main-container
  %h2.top-main-container__title
    ピックアップカテゴリー
  %section.item-container
    =render partial: "items_list", locals: {item: "レディース新着アイテム"}
    =render partial: "items_list", locals: {item: "メンズ新着アイテム"}
    =render partial: "items_list", locals: {item: "ベビー・キッズ新着アイテム"}

%section.top-main-container
  %h2.top-main-container__title
    ピックアップブランド
  %section.item-container
    =render partial: "items_list", locals: {item: "シャネル新着アイテム"}
    =render partial: "items_list", locals: {item: "ルイ ヴィトン新着アイテム"}
    =render partial: "items_list", locals: {item: "シュプリーム新着アイテム"}
