%section.top-main-container
  %h2.top-main-container__title
    ピックアップカテゴリー
  %section.item-container
    %h3.item-container__title
      =link_to "レディース新着アイテム",root_path #root_pathは仮パスなのでアイテム一覧ページを実装した時に変更すること
    .item-content
      =render partial: "items_list"
    .view-all
      %a{ href:"" }全ての商品を見る
    %h3.item-container__title
      =link_to "メンズ新着アイテム",root_path #root_pathは仮パスなのでアイテム一覧ページを実装した時に変更すること
    .item-content
      =render partial: "items_list"
    .view-all
      %a{ href:"" }全ての商品を見る
    %h3.item-container__title
      =link_to "ベビー・キッズ新着アイテム",root_path #root_pathは仮パスなのでアイテム一覧ページを実装した時に変更すること
    .item-content
      =render partial: "items_list"
    .view-all
      %a{ href:"" }全ての商品を見る

%section.top-main-container
  %h2.top-main-container__title
    ピックアップブランド
  %section.item-container
    %h3.item-container__title
      =link_to "シャネル新着アイテム",root_path #root_pathは仮パスなのでアイテム一覧ページを実装した時に変更すること
    .item-content
      =render partial: "items_list"
    .view-all
      %a{ href:"" }全ての商品を見る
    %h3.item-container__title
      =link_to "ルイ ヴィトン新着アイテム",root_path #root_pathは仮パスなのでアイテム一覧ページを実装した時に変更すること
    .item-content
      =render partial: "items_list"
    .view-all
      %a{ href:"" }全ての商品を見る
    %h3.item-container__title
      =link_to "シュプリーム新着アイテム",root_path #root_pathは仮パスなのでアイテム一覧ページを実装した時に変更すること
    .item-content
      =render partial: "items_list"
    .view-all
      %a{ href:"" }全ての商品を見る
