.item-detail-change
  .item-change-box
    = link_to "商品の編集",{controller: "items", action: "edit"},{class:"item-change-box__btn--edit"}
    %p or
    =form_with model: item, local: true do |stop|
      - if item.sale_status == 0
        =stop.hidden_field :sale_status, value: 1
        =stop.submit "出品を一旦停止する", {class:"item-change-box__btn--stop"}
      - else
        =stop.hidden_field :sale_status, value: 0
        =stop.submit "出品する", {class:"item-change-box__btn--stop"}
    = link_to "この商品を削除する", item_path(item.id) , {method: :delete , class:"item-change-box__btn--delete"}
