-# .owl-carousel
.topmain-visual
  .topmain-visual__content
    %h2 スマホでかんたん
    %br
    フリマアプリ
    %p メルカリはスマホカメラからすぐに出品できる
    %br
    購入時も安心な独自システムのアプリです。
  .topmain-visual__store--clearfix
    %a.store__icon{ href: "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8",target:"_blank" }
      = image_tag 'app-store.svg'
    %a.store__icon{ href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja",target:"_blank" }
      = image_tag 'google-play.svg'
    -# = image_tag 'main_content_pc.png'
%section.main-container
  %h2.main-conteiner__title
    商品一覧
    %section.item-container
    %h3.item-container__title
      %a{href:""}新着アイテム
    .item-content
      .item-content__box
        %a{href:""}
          %img.content__item-image{alt:"商品名",src:"http://via.placeholder.com/213x213"}
          .content__body
            %h3.content__item-name 商品名
          .content__num
            .content__price ¥5,000
            %i.far.fa-heart
              %span 0
          %p.content__tax (税込)
