%section.main-container
  %h2.main-conteiner__title
    商品一覧
    %section.item-container
    %h3.item-container__title
      %a{href:""}新着アイテム
    .item-content
      .item-content__box
        %a{href:""}
          %img.content__item-image{alt:"商品名",src:"http://via.placeholder.com/213x213"}
          .content__body
            %h3.content__item-name 商品名
          .content__num
            .content__price ¥5,000
            %i.far.fa-heart
              %span 0
          %p.content__tax (税込)
