/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import"./reset";
@import"config/valiable";
@import"mixin/valiable";
@import"mixin/mypage_info";
@import"mixin/clearfix";
@import"font-awesome-sprockets";
@import"font-awesome";
@import"modules/header";
@import"modules/footer";
@import"modules/items";
@import"modules/logout";
@import"modules/mypage";
@import"modules/mypage_side_bar";
@import"modules/four-columns-items";

*{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  position: relative;
  min-height: 100%;
  background: $main_background;
  font-size: 14px;
  color: $black;
  line-height: 1;
}

a{
  text-decoration: none;
  color: $blue;
}

img{
  vertical-align: middle;
}

.bold{
  font-weight: 600;
}

ul, ol{
  list-style: none;
}

h2 {
  font-size: 22px;
  line-height: 1.4;
}

h3{
  font-size: 22px;
}
