.top-app-banner
  .top-app-banner-inner
    .top-app-banner-inner-left
      %h2
        スマホでかんたんフリマアプリ
      %p
        今すぐ無料ダウンロード！
      .top-app-banner-inner-left__icon
        =image_tag('custom-banner-icon.png', class: "top-app-banner-inner-left__icon--img")
        %ul
          %li
            =link_to image_tag('app-store.svg', class: ""), "https://www.mercari.com/jp/"
          %li
            =link_to image_tag('google-play.svg', class: ""), "https://www.mercari.com/jp/"
    .top-app-banner-inner-right
      =image_tag('download_content_pc.png')
%footer.top-footer
  .top-footer-top
    .top-footer-cell
      %h2.top-footer-cell_head
        メルカリについて
      %ul
        %li
          =link_to "会社概要（運営会社）", "https://kari"
        %li
          =link_to "採用情報", "https://kari"
        %li
          =link_to "プレスリリース", "https://kari"
        %li
          =link_to "公式ブログ", "https://kari"
        %li
          =link_to "メルカリロゴ利用ガイドライン", "https://kari"
        %li.social-link
          =link_to "https://kari" do
            %i.fab.fa-twitter
        %li.social-link
          =link_to "https://kari" do
            %i.fab.fa-facebook-square
    .top-footer-cell
      %h2.top-footer-cell_head
        ヘルプ＆ガイド
      %ul
        %li
          =link_to "メルカリガイド", "https://kari"
        %li
          =link_to "らくらくメルカリ便", "https://kari"
        %li
          =link_to "ゆうゆうメルカリ便", "https://kari"
        %li
          =link_to "大型メルカリ便", "https://kari"
        %li
          =link_to "車体取引ガイド", "https://kari"
        %li
          =link_to "メルカリあんしん・あんぜん宣言！", "https://kari"
        %li
          =link_to "偽ブランド品撲滅への取り組み", "https://kari"
        %li
          =link_to "メルカリボックス", "https://kari"
    .top-footer-cell.full-width
      %h2.top-footer-cell__head
        プライバシーと利用規約
      .top-footer-cell__left
        %ul
          %li
            =link_to "プライバシーポリシー", "https://kari"
          %li
            =link_to "メルカリ利用規約", "https://kari"
          %li
            =link_to "あんしんスマホサポート制度に関する利用特約", "https://kari"
          %li
            =link_to "コンプライアンスポリシー", "https://kari"
      .top-footer-cell__right
        %ul
          %li
            =link_to "個人データの安全管理に係る基本方針", "https://kari"
          %li
            =link_to "特定商取引に関する表記", "https://kari"
          %li
            =link_to "資金決済法に基づく表示", "https://kari"
          %li
            =link_to "法令遵守と犯罪防止のために", "https://kari"
          %li
            =link_to "返品・返金ポリシー", "https://kari"
    .top-footer-cell
      %h2.top-footer-cell__head
        国
      %ul
        %li
          =link_to "日本", "https://kari"
        %li
          =link_to "United States", "https://kari"

  .top-footer-bottom
    =link_to image_tag('logo.svg', alt: "mercari"), "https://www.mercari.com/jp/"
    %span.top-footer-bottom__right
      © 2019 Mercari

=link_to "https://kari", class: "top-footer-sell-btn" do
  %div 出品
  %i.fas.fa-camera

