%header.top-header
  .top-header-inner
    .top-header-top
      =link_to image_tag('logo.svg', alt: "mercari", class: "top-header-top-logo"), "https://www.mercari.com/jp/"
      = form_tag("https://kari", class: "top-header-top-form") do
        = text_field_tag :keyword, '何かお探しですか？', {class: "top-header-top-form__input"}
        = label_tag :image, {class: "top-header-top-form__search"} do
          %i.fa.fa-search
    .top-header-bottom
      %nav.top-header-left-navi
        %ul.top-header-left-navi-list
          %li.top-header-left-navi-list__item
            =link_to "https://kari", {class: "top-header-left-navi-list__item--category"} do
              %i.fas.fa-list-ul
              %span
                カテゴリから探す
          %li.top-header-left-navi-list__item
            =link_to "https://kari", {class: "top-header-left-navi-list__item--brand"} do
              %i.fas.fa-tag
              %span
                ブランドから探す
      %nav.top-header-right-navi
        %ul.top-header-right-navi-list
          %li.top-header-right-navi-list__item
            =link_to "https://kari", {class: "top-header-right-navi-list__item--icon"} do
              %i.far.fa-bell.fa-lg{'aria-hidden': :true}
              %span
                お知らせ
          %li.top-header-right-navi-list__item
            =link_to "https://kari", {class: "top-header-right-navi-list__item--icon"} do
              %i.fa.fa-check.fa-lg{'aria-hidden': :true}
              %span
                やることリスト
          %li.top-header-right-navi-list__item
            =link_to image_tag('member_photo_noimage_thumb.png', class: "top-header-right-navi-list__item--icon"), "https://kari"
            %span
              マイページ
